#printTestFormId {
  overflow: hidden;
}

p {
  margin: 3pt;
}

.print-test-label {
  font-size: 14pt;
  margin: 0;
  text-align: left;
  line-height: 1.1;
}

.print-test-label h3 {
  margin: 0;
  text-align: center;
}

.print-test-label h4 {
  margin-top: 5px;
  text-align: center;
  font-style: italic;
}

.print-test-label table {
  border: none;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 3pt;
  width: 100%;
}

.print-test-label table th {
  border: 1px solid #888;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
}

.print-test-label table td {
  border: 1px solid #888;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lable_code {
  float: right;
}

.lable_code img {
  max-width: 99%;
  height: 80pt;
}

.print-test-label .test_result p {
  font-weight: bold;
  padding-left: 10px;
}

.print-test-label .test_sign {
  margin-top: 20px;
  min-height: 150px;
}

.print-test-label .test_sign .location {
  font-style: italic;
  text-align: right;
}

.print-test-label .test_sign .signed {
  display: block;
}

.print-test-label .test_sign .right {
  text-align: right;
  padding-right: 0pt;
  padding-left: 50pt;
  text-align: center;
}

.print-test-label .test_sign .signer_space {
  display: none;
}

.print-test-label .test_sign .staff {
  font-style: italic;
}

.print-test-label .note {
  font-style: italic;
  font-weight: 400;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.test_time {
  text-align: center;
}
